.cartContainer {
  display: flex;
  justify-content: space-evenly;
  border-radius: 6px;
  margin: 10px;
  padding: 5px;
  height: auto;
  .leftContent {
    flex: 1;
    overflow: hidden;
    .productImage {
      width: 180px;
      height: 225px;
      object-fit: cover;
      border-radius: 6px;
    }
  }
  .rightContent {
    flex: 2;
    margin-left: 15px;
    font-size: 16px;
    .title {
      font-size: 16px;
      font-weight: 400;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      cursor: pointer;
      color: rgb(113, 113, 240);
    }
    .brandName {
      font-size: 25px;
      text-transform: capitalize;
      font-weight: 700;
    }
    .price {
      font-weight: 700;
    }
    .returnPolicyText {
      font-size: 12px;
    }
    .removeFromCart {
      text-align: center;
      padding: 3px 5px;
      width: fit-content;
      border-radius: 6px;
      margin-top: 10px;
      text-decoration: underline;
      cursor: pointer;
    }
    .quantitySelect {
      padding: 2px 4px;
      border: solid 1px lightgray;
      border-radius: 4px;
      margin: 5px;
      width: 45px;
    }
  }
}
