.navbar-container {
  display: flex;
  justify-content: space-between;
  padding: 4px 10px;
  .menu-items {
    margin: 0 10px;
    font-weight: 600;
    font-weight: 20px;
    padding: 0 10px;
    display: flex;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    ul {
      display: flex;
      li {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        cursor: pointer;
      }
      li:hover {
        background-color: rgba(225, 225, 225, 0.518);
        border-radius: 4px;
      }
    }
  }
  .right-items {
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    ul {
      display: flex;
      li {
        padding: 10px;
        cursor: pointer;
        position: relative;
        .cart-item-length {
          background: #ffbb0dc9;
          height: 25px;
          width: 25px;
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          font-weight: 700;
          border-radius: 50%;
          color: #000;
          bottom: 36px;
          left: 24px;
        }
      }
      li:hover {
        border-radius: 4px;
      }
    }
    .search-input-field-container {
      border: solid 1px #80808078;
      padding: 0px 3px;
      margin: 0 2px;
      padding-bottom: 3px;
      border-radius: 4px;
      .search-input-field {
        padding: 6px 14px;
        margin: 0px;
        border-radius: 4px;
        width: 200px;
        transition: width 0.3s;
        &:focus {
          outline: none;
        }
      }
    }
    .active-search {
      @extend .search-input-field;
      .search-input-field {
        width: 400px;
      }
    }
    .active-icon {
      display: none;
      width: 100px;
    }
  }
  .icon-left {
    padding-top: 4px !important;
  }
  .icon-right {
    padding-top: 15px !important;
  }
}
