.flight-seats-container {
  .plane-seat-structure-design {
    margin-top: -100px;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 22rem;
  }
}

.building {
  position: relative;
  width: 200px;
  height: 300px;
}
.seat-button-container {
  text-align: center;
  .confirm-button {
    z-index: 999;
    margin: 0 10px;
  }
  .clear-button {
    z-index: 999;
  }
}
