.flight-seats-container {
  margin-top: 50px;
  width: 600px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -15%);
  text-align: center;
  padding-bottom: 22rem;
}

.building {
  position: relative;
  width: 200px;
  height: 300px;
}
