.thumbnail-container {
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    padding: 10px;
  }
  background-color: rgba(193, 222, 232, 0.353);
  display: flex;
  justify-content: space-around;
  align-items: center;
  .left-content {
    .view-more-button {
      border: solid 1px rgba(128, 128, 128, 0.458);
      border-radius: 4px;
      display: inline-block;
      padding: 0 10px;
      margin-top: 10px;
      cursor: pointer;
    }
    .view-more-button:hover {
      @extend .view-more-button;
      background-color: rgba(210, 210, 210, 0.277);
    }
  }
  .right-content {
    .image-headphone {
      mix-blend-mode: multiply;
    }
  }
}
