.flight-seat-container {
  position: relative;

  $plane-color: rgb(221, 219, 219);
  .rectangle {
    position: absolute;
    left: 7%;
    width: 361px;
    background-color: $plane-color;
    top: 209%;
    height: 100rem;
  }

  .half-circle {
    @extend .rectangle;
    height: 32rem;
    border-radius: 300px 300px 0 0;
    top: 40%;
    padding-top: 50px;
    font-size: 20px;
    font-weight: 600;
  }

  .right-wing {
    background-color: $plane-color;
    position: absolute;
    top: 239%;
    left: 163%;
    width: 16rem;
    height: 36rem;
    transform: skew(40deg) rotate(40deg);
  }
  .left-wing {
    background-color: rgb(221, 219, 219);
    position: absolute;
    top: 308%;
    left: -304%;
    width: 66rem;
    height: 10rem;
    transform: scaleX(-1) skew(66deg) rotate(-24deg);
  }

  .row-seats {
    margin: 10px 40px;
    position: relative;
    .seat-block {
      position: relative;
      cursor: pointer;
      display: inline-block;
      border: solid 1px black;
      height: 35px;
      width: 30px;
      background-color: #23cf2e34;
      margin: 5px;
      border-radius: 4px;
      &:hover {
        background-color: rgb(74, 117, 196);
      }
      .divider {
        position: absolute;
        border: solid 1px rgba(0, 0, 0, 0.377);
        width: 100%;
        top: 22px;
      }
    }
    .seat-block.booked-seats {
      background-color: #ea0a0a88;
      cursor: not-allowed;
    }
    .row-index-content {
      transform: translate(0px, -20px);
      display: inline-block;
      margin: 0 20px;
      width: 30px;
      text-align: center;
      font-size: 19px;
      font-weight: 700;
    }
    .alphabets {
      display: inline-block;
      position: absolute;
      transform: translate(15px, -20px);
    }
    .selected-seats{
      background-color: #d0a52f8f;
    }
  }
}
